@font-face {
    font-family: "Ubuntu"; 
    src: url("assets/fonts/Ubuntu-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-color: #FFE3E9;
}

.page-wrapper {
    margin: 0 auto;
    max-width: 1280px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-content: center;
    align-content: center;
}

.hide {
    display: none;
}

.no-result-msg {
    font-size: 20px;
    margin-top: 100px;
    text-align: center;
    color: #444444;
}