.catalog_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 25px;
    row-gap: 30px;
    justify-items:self-start;
    justify-content: space-between;
}

.new::after {
    content: ''; 
    background-image: url(../../assets/images/new-gif.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 70px;
    height: 70px;
    z-index: 7;

    position: absolute;
    top:15px;
    right: 15px;
}

.catalog_item {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    gap: 10px;
    position: relative;
}

.item_img {
    width: 230px;
    height: 100%;
}

.item_name {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    align-self: flex-start;
    color: #1F1F1F;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
}

[data-tooltip]::after {
    position: absolute;
    content: attr(data-tooltip);
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    width: 230px;
    bottom: 30px;
    left: 0;
    color: #6e6b6b;
    background-color: #fac2cf;
    border-radius: 9px;
    transition: 1s;
    opacity:0;
    pointer-events: none;
}

[data-tooltip]:hover::after {
    opacity: 1;
}

.item_price {
    font-size: 18px;
    font-weight: 300;
    line-height: 17px;
    align-self: flex-start;
    color: #444444;
}

.item_cart,
.item_cart-active {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
}

.item_cart {
    background-color: #FF436E;
}

.item_cart-active {
    background-color:#444444; ;
}

.item_amount {
    font-size: 14px;
    align-self: flex-start;
    font-weight: 300;
    font-style: italic;
    color: #6e6b6b;
}